nav {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-self: center;
	flex-direction: row;
	justify-content: center;
	width: 1000px;
	margin: 10px auto;
}

#logo-nav {
	display: block;
	height: 100px;
}

ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


li {
	display: inline-block;
	list-style-type: none;
	background-color: transparent;
	flex: 0 1 auto;
	font-family: 'Montserrat', sans-serif;

}

a {
	text-decoration: none;
	color: #004155;
}

main {
	position: relative;
	grid-row: 1/4;
	grid-column: 1/4;
	height: 100%;
	display: grid;
}


@media screen and (max-width: 500px) {
	#navigation {
		height: auto;
		margin-bottom: 80px;
	}
}
